body {
  margin: 0;
  min-height: -webkit-fill-available;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}