@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: white;
}

body {
  margin: 0;
  min-height: -webkit-fill-available;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#__next {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  height: -moz-available;
  width: 100%;
}

/* slider.css */
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background-color: #E5E7EB;
  cursor: pointer;
  border-radius: 4px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.15rem;
  height: 1.15rem;
  background-color: #5c2425;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 1.15rem;
  height: 1.15rem;
  background-color: #5c2425;
  border-radius: 50%;
  cursor: pointer;
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available;
  }
}