.card-container {
    display: flex;
    border: 1px solid black;
    background-color: #fdfdfd;
    border-radius: 10px;
    margin: 10px;
    padding: 0px 5px;
    flex-direction: row;
}

.card-column{
    /* border: 1px solid black; */
    padding: 0px;
    margin: 5px;
}

.card-column.one{
    align-self: center;
    justify-self: center;
    align-content: center;
}

.card-column.two {
    align-content: center;
    justify-content: center;
}

.card-column.two h3 {
    margin: 5px 0px;
}

.card-column.two ul{
    list-style-type: none;
    margin: 15px 0px;
    padding: 0;
}

.toggles {
    display: flex;
    justify-content: space-around;
}

.availability{
    display: flex;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
}

.availability.available{
    background-color: rgba(0, 128, 0, 0.5);
}

.availability.unavailable{
    background-color: rgba(255, 0, 0, 0.5);
}

.bookmark-icon{
    display: flex;
    margin: 0;
    padding: 0;
    align-self: center;
}
